/* Reset basico */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(242, 200, 33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .container {
    display: flex;
    background-color: cornsilk;
  }
  
  /* Propiedades de flexbox para los items 
  
  *flex - grow ->  Esta propiedad ajusta al factor de crecimiento de los elementos, en funcion del espacio disponible. el valor por default es "auto"

  Esta propiedad recibe valores númericos: 1,2,3,4...  El numero que coloquemos es el factor de crecimiento 
  
  */
  
  .item {
    flex-grow: auto; /* Este es el valor por default */
    flex-grow: 8; /* Va a hacer que todos los itmes crezcan con el mismo factor */

    background-color: bisque;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
  }

  .cuchurrumin {
    flex-grow: 4; /* El item  */
  }

  .hola {
    flex-grow: 1;
  }