/* Reset basico */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body{
  background-color: rgb(242, 200, 33);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    background-color: cornsilk;
  }
  
  
.item {
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;

  background-color: bisque;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

/* Flex sheink- esta propiedad funciona como un factor de contraccion, encojimiento, rediccion de los elementos de un contenedor flex 
    Flex-shrink: 1, este es el valor por defoult de los itema. Si no se declara esto es lo qie aplica 
    recibe valores numericos 1,2,3,4,5...
*/

.apachurro1{ 
  flex-shrink: 1;
  flex-grow: 4;
}

.apachurro2{ 
  flex-shrink: 2;
  flex-grow: 3;
}

.apachurro3{ 
  flex-shrink: 3;
  flex-grow: 2;
}

.apachurro4{ 
  flex-shrink: 4;
  flex-grow: 1;
}
